h1, h2, h3, h4, h5, h6{
  margin: 0;
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  @include font-size(14,26);
  font-weight: initial;
}

// h1,.h1{
//   font-family: $font-family-alt;
//   text-transform: uppercase;
//   @include font-size(35, 35, 0);
//   @include media-breakpoint-up(lg) {
//     @include font-size(41, 42, 0);
//   }
// }

.medium{
  font-weight: 500;
}

.semi{
  font-weight: 600;
}

.bold{
  font-weight: 700;
}
